* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.jcs{
    justify-content: space-between;
    flex-wrap: wrap;
}

.ali{
    align-items: center;
}

.col-28{
    width: 28%;
}

.col-32{
    width: 32%;
}

.col-33{
    width: 33%;
}

.col-45{
    width: 45%;
}

.col-47{
    width: 47%;
}

.col-48{
    width: 48%;
}

.col-50{
    width: 50%;
}

.col-55{
     width: 55%;
}

.img{
    width: 100%;
}

.comn-padd{
     padding: 100px 0px;
}

main {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg ,rgba(19, 11, 13, 0.9), rgba(20, 20, 17, 0.9) ), url(./img/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\).png);

}


header li{
    display: inline-block;   
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px 0 20px;
    color: white;
    font-family: "Domine", serif;
}

.hero-sec h1{
    font-size: 70px;
    color: #e58f00;
    /* word-spacing:5px; */
    font-family: "Aachen BT";
    margin: 0 50px 0 0;
}

.hero-sec p{
    font-size: 25px;
    color: #ffffff;
    font-family: "Aachen BT";
    margin: 25px 0;
}

.hero-sec button{
    padding: 10px 25px;
    background-color: #e58f00;
    font-family: "Aachen BT";
    font-size: 25px;
    border: none;
    border-radius: 10px;
}

.sec-one{
    background-color: rgb(5, 5, 14);
    padding: 57px 0;
}

.sec-one h2{
    font-size: 50px;
    color: #ffffff;
    font-family: "Aachen BT";
}

.sec-one p{
    font-size: 33px;
    color: #ffffff;
    font-family: "Aachen BT";
    margin-top: 20px;
    word-spacing: 3px;
}

.sec-three{
    background-color: rgb(5, 5, 14);
}

.sec-three img{
    padding: 0 0 20px 0;
}

.sec-three h2{
    font-size: 50px;
    color: #ffffff;
    font-family: "Aachen BT";
    text-align: center;
    padding: 30px 0;  
}

.sec-four{
    background-image: url(./img/sec-four\ img.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 40px 0;
    width: 100%;
}

.sec-four-box{
    margin: auto;
}

.sec-four-box-2{
    border: 10px solid #e58f00;
    background:linear-gradient(180deg ,rgba(19, 11, 13, 0.7), rgba(20, 20, 17, 0.7) );
    padding: 50px 65px;
}

.sec-four h3{
    font-size: 50px;
    color: #ffffff;
    font-family: "Aachen BT";
    padding-bottom: 25px;
}

.sec-four p{
    font-size: 33px;
    color: #ffffff;
    font-family: "Aachen BT";
}

.sec-five{
    background-color:rgb(5, 5, 14);
    padding: 0 0 40px 0;
}

.sec-five h3{
    font-size: 50px;
    color: #ffffff;
    font-family: "Aachen BT";
    text-align: center;
    margin-bottom:40px;
}

.sec-five h4{
    font-size: 20px; 
    word-spacing: 3px;
    color: #e58f00;
    font-family: "Aachen BT";
}

.sec-five p{
    font-size: 15px;
    color: #ffffff;
    font-family: "Aachen BT";
    font-weight: 600;
    margin: 10px 0;
}

.sec-five h5{
    font-size: 23px;
    color: #e58f00;
    font-family: "Aachen BT";
}

.sec-six{
     background-color: #e58f00;
     position: relative;
     padding: 70px 0;
}

.six-img{
    position: absolute;
    bottom: -140px;
}

.sec-six-mrr{
    margin-left: auto;
}

.sec-six h3{
    font-size: 50px;
    font-weight: 900;
    color: #ffffff;
    font-family: "Aachen BT";
}

.sec-six p{
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Aachen BT";
    margin: 25px 100px 25px 0px;
    
}

.sec-seven{
     background-color: rgb(5, 5, 14);
}

.sec-seven-img{
     display: block;
     margin: 0 auto;
}



