* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sec {
    background-color: #ebe3cd;
}

.container {
    width: 1300px;
    margin: 0px auto;
}

.row {
    display: flex;
}

.jcs {
    justify-content: space-between;
}

.jcs1 {
    justify-content: space-around;
}

.jcs2 {
    align-items: center;
}

.jcs3 {
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.col-25 {
    width: 25%;
}

.col-27 {
    width: 27%;
}

/* .col-30 {
    width: 10%;
} */

.col-35 {
    width: 35%;
}

.col-37 {
    /* width: 37%; */
    width: 500px;
}

.col-40 {
    width: 40%;
}


.col-25 {
    width: 25%;
}

.col-10 {
    width: 10%;
}

.col-63 {
    width: 63%;
}

.col-50 {
    width: 50%;
}



.col-30 {
    width: 30%;
}

header {
    background-color: #ebe3cd;
}

.navbarextra {
    padding: 50px 0px 60px 0px;
}

.navbar {
    color: #ffffff;
    font-size: 20px;
    width: 1350px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #12202f;
    border-radius: 33px;
    padding: 15px 20px;
}

.navbar li {
    display: inline-block;
    margin: 0px 30px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.sec-1-extra {
    padding-bottom: 100px;
}

.sec-1 {
    position: relative;
}

.sec-1 h1 {
    font-size: 81px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.sec-1 h3 {
    margin: 15px 0px;
    font-size: 29px;
    line-height: 40px;
    color: #12202f;
    font-weight: 400;
    font-family: "Montserrat";
}

.sec-1 p {
    margin: 20px 0px;
    font-size: 17px;
    line-height: 25px;
    color: #12202f;
    font-weight: 600;
    font-family: "Montserrat";
}

.deco div {
    display: inline-block;
}

.deco a {
    font-size: 25px;
    padding: 0px 0px 0px 20px;
    color: #12202f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.button-1 {
    padding: 10px 50px;
    border: 1px solid #df581e;
    border-radius: 33px;
    background-color: #df581e;
    font-size: 30px;
    color: #ebe3cd;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.sec-1-img div {
    display: inline-block;
}

/* .sec-1 {
    position: relative;
} */
.sec-1-Plant {
    position: absolute;
    left: 500px;
    bottom: 5px;
    height: 200px;
}


.sec-1-dinner {
    position: absolute;
    left: 500px;
    bottom: 0px;
    height: 400px;
    width: 1000px;
    z-index: 2;
    /* margin: 0px 0px 50px 0px; */
}

.sec-1-window1 {
    position: absolute;
    left: 750px;

}

.sec-1-window2 {
    position: absolute;
    right: 50px;
}

.sec-2-extra {
    padding: 99px 0px;
}

.sec-2-one div {
    display: inline-flex;
}

.sec-2-one h4 {
    font-size: 21px;
    color: #12202f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.sec-2-two {
    background-color: #faf8ef;
    border: 1px solid #ffffff;
    border-radius: 33px;
    padding: 50px 0px;
    margin-top: 15px;

}

.sec-2-three {
    font-size: 21px;
    /* line-height: 33px; */
    color: #12202f;
    font-weight: 700;
    font-family: "Montserrat";
    /* text-align: center; */
}

.sec-2-four {
    font-size: 21px;
    /* line-height: 33px; */
    color: #12202f;
    font-weight: 400;
    font-family: "Montserrat";
    /* text-align: center; */
    border-radius: 28px;
    background-color: #ebe3cd;
    border: 1px solid #12202f;
    padding: 25px 50px;
}

.sec-2-button1 {
    font-size: 21px;
    color: #ebe3cd;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    border-radius: 28px;
    background-color: #6bb99c;
    padding: 25px 40px;
}

.sec-3-extra {
    padding-bottom: 99px;
}

.sec-3-one h4 {
    font-size: 29px;
    text-align: center;
    color: #eaa73b;
    font-weight: 400;
    font-family: "Montserrat";
}

.sec-3-one h1 {
    text-align: center;
    font-size: 50px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.sec-3-two {

    /* width: 300px; */
    padding: 30px 30px;
    text-align: center;
    border-radius: 40px;
    background-color: #faf8ef;
    border: 1px solid #ffffff;
}

.sec-3-two h2 {
    margin: 10px 0px;
    font-size: 40px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.sec-3-two p {
    font-size: 17px;
    line-height: 31px;
    color: #12202f;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
}

.sec-3-two button {
    border-radius: 28px;
    background-color: #df581e;
    font-size: 21px;
    padding: 10px 25px;
    color: #ebe3cd;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.sec-4-extra {
    padding: 0px 0px 50px 0px;
}

.sec-4-extra div {
    text-align: center;
}

.sec-4-extra h3 {
    font-size: 29px;
    color: #6bb99c;
    font-weight: 400;
    font-family: "Montserrat";
}

.sec-4-extra h1 {
    font-size: 50px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
    margin: 0px 0px 10px 0px;
}

.sec-4-extra button {
    padding: 5px 25px;
    margin: 0px 0px 10px 0px;
    border-radius: 28px;
    background-color: #6bb99c;
    font-size: 21px;
    color: #ebe3cd;
    font-weight: 400;
    font-family: "Montserrat";
}

.sec-4-photo-extra {
    /* background-color: #ebe3cd; */
}

.sec-4 {
    position: relative;
}

.sec-4-people {
    height: 450px;
    width: 550px;
    margin-top: 20px;
    /* position: absolute;
    left: 460px;
    top: 150px;
    bottom: 0px;
    z-index: 1; */
}

.sec-4-table-1 {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 100px;
    bottom: 70px;
    /* top: 300px; */
    /* z-index: 1; */

}

.sec-4-table-2 {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 100px;
    bottom: 70px;
    /* top: 300px; */

}

.sec-4-table-3 {
    height: 250px;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sec-4-table-4 {
    height: 250px;
    width: 200px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.sec-5-extra {
    padding-top: 99px;
}

.sec-5 {
    position: relative;
}

.sec-5-para {
    /* text-align: center; */
}

.sec-5 h3 {
    font-size: 29px;
    color: #eaa73b;
    font-weight: 400;
    font-family: "Montserrat";
}

.sec-5 h1 {
    font-size: 50px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.sec-5 p {
    text-overflow: ellipsis;
    font-size: 17px;
    line-height: 31px;
    color: #12202f;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: left;
}

.sec-5 button {
    background-color: #df581e;
    font-size: 21px;
    color: #ebe3cd;
    font-weight: 700;
    font-family: "Montserrat";
    border-radius: 28px;
    padding: 5px 20px;
    margin-top: 20px;
}

.sec-5-plant {
    position: absolute;
    top: 0px;
    right: 40px;
}

.sec-5-plant1 {
    position: absolute;
    bottom: 70px;
    left: 300px;
}

.sec-5-bottle {
    position: absolute;
    top: 80px;
    left: 500px;
}

.sec-6-extra {
    padding: 30px 0px;
}

.sec-6 h3 {
    font-size: 29px;
    color: #eaa73b;
    font-weight: 400;
    font-family: "Montserrat";
}

.sec-6 h1 {
    font-size: 50px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.sec-6 p {
    font-size: 17px;
    line-height: 31px;
    color: #12202f;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: left;
}

.sec-6 button {
    border-radius: 28px;
    background-color: #6bb99c;
    font-size: 21px;
    color: #ebe3cd;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 5px 20px;
    margin-top: 20px;
}

.sec-7-extra {
    padding: 0px 0px 30px 0px;
}

.sec-7 {
    position: relative;
}

.sec-7-box {
    border-radius: 80px;
    background-color: #faf8ef;
}

.sec-7 img {
    padding: 30px 0px;
}

.sec-7 h3 {
    font-size: 29px;
    color: #6bb99c;
    font-weight: 400;
    font-family: "Montserrat";
}

.sec-7 h1 {
    font-size: 50px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.sec-7 p {
    font-size: 17px;
    line-height: 31px;
    color: #12202f;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: left;
}

.sec-7 button {
    border-radius: 28px;
    background-color: #df581e;
    font-size: 21px;
    color: #ebe3cd;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 5px 20px;
    margin-top: 20px;
}

.sec-7-decor {
    position: absolute;
    top: 0px;
    left: 500px;
}

.sec-7-content {
    padding: 0px 0px 0px 65px;
}

.sec-8-one {
    text-align: center;

}

.sec-8-one h3 {
    font-size: 29px;
    color: #df581e;
    font-weight: 400;
    font-family: "Montserrat";
}

.sec-8-one h1 {
    font-size: 50px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.sec-8-imgs {
    padding: 30px;
}

.sec-8-two {
    background-color: #faf8ef;
    border-radius: 40px;
    margin-top: 50px;
}

.sec-8-three {
    margin: auto;
    margin-top: 50px;
}


.sec-8-three-1 {
    background-color: #faf8ef;
    border-radius: 40px;
}

.sec-9 {
    position: relative;
}

.sec-9-extra {
    padding: 60px 0px;
}

.sec-9 div {
    text-align: center;
}

.sec-9 h3 {
    font-size: 29px;
    color: #df581e;
    font-weight: 400;
    font-family: "Montserrat";
}

.sec-9 h1 {
    font-size: 50px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
    margin-bottom: 20px;
}

.sec-9-input {
    border-radius: 43px;
    background-color: #ccc1a3;
    border: 2px solid #faf8ef;
    width: 650px;
    font-size: 17px;
    letter-spacing: 3px;
    color: #393939;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 20px 10px 20px 40px;
    margin-bottom: 20px;
}

.sec-9-input-1 {
    border-radius: 20px;
    background-color: #ccc1a3;
    border: 2px solid #faf8ef;
    width: 650px;
    font-size: 17px;
    letter-spacing: 3px;
    color: #393939;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 20px 10px 100px 40px;
    margin-bottom: 30px;

}

.sec-9 button {
    border-radius: 33px;
    background-color: #6bb99c;
    border: 2px solid #faf8ef;
    font-size: 21px;
    text-transform: uppercase;
    color: #3a3a3a;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 10px 30px;
}

.leaf-1 {
    position: absolute;
    top: 50px;
    left: 80px;
}

.Lemon {
    position: absolute;
    top: 50px;
    right: 90px;
}

.leaf-2 {
    position: absolute;
    bottom: 50px;
    right: 90px;
}

.Avocado {
    position: absolute;
    bottom: 50px;
    left: 120px;
}

footer {
    background-color: #dfa21e;
}

.footer-extra {
    padding: 50px 0px;
}

.footer-1 {
    font-size: 20px;
    letter-spacing: 4px;
    color: #ebe3cd;
    font-weight: 500;
    font-family: "Playfair Display";
    padding: 0px 0px 20px 0px;
}

.footer-extra h3 {
    font-size: 25px;
    letter-spacing: 1px;
    color: #404040;
    font-weight: 700;
    font-family: "Montserrat";
    padding: 0px 0px 10px 0px;
}

.footer-2 h2 {
    font-size: 25px;
    letter-spacing: 1px;
    color: #404040;
    font-weight: 700;
    font-family: "Montserrat";
}